doctype html
html
	head 
		title BIEB
		//- link(rel='stylesheet' href='styles/index.css')
		//- script(src='https://code.jquery.com/jquery-2.2.0.js')
		//- script(src='js/index.js')
	body
		div(id='wrapper')
			h1 BIEB
			div(class='listbook')
				h2 Borrowed book:
				p You have not borrowed any books.
			div(class='listbook')
				h2 Lended book:
				p You don't owe anyone shit.
			a(href='add.jade') Add a book

